<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DB_QuanLyHoatDongConnectionString"
            connectionString="Data Source=DESKTOP-2OHH8I0\DUYDAT;Initial Catalog=DB_QuanLyHoatDong;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>